#title {
  font-family: "Arial Black", Gadget, sans-serif;
  width: fit-content;
  padding: 4px;
  margin: auto;
  margin-bottom: 20px;
  border-bottom: 4px solid black;
}
#cart-container {
  text-align: center;
  max-width: 800px;
  padding: 10px 20px;
  margin: auto;
  border-radius: 4px;
  box-shadow: #404040 0px 0px 10px;
}
.cart-row {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ececec;
}
.flex-spacing {
  flex: 1;
}
.product-image {
  width: 100px;
  margin-left: 40px;
}

/* Quantity/Change QTY */
.chg-qty-btn {
  background-color: white;
  border: 0px;
}
.chg-quantity {
  cursor: pointer;
}
.chg-quantity:hover {
  opacity: 0.6;
}

/* Cart Total Info */
#cart-total {
  margin: auto;
  margin-top: 20px;
  width: fit-content;
}
#cart-total span {
  margin-right: 20px;
}

/* Remove/Checkout Btns */
.remove-btn {
  cursor: pointer;
  outline: none;
  background-color: var(--nav-buttons);
  color: white;
  padding: 4px 16px;
  border: 0px;
  border-radius: 4px;
  transform: translateX(20px);
}
.checkout-btn {
  background-color: var(--nav-buttons);
  color: white;
  padding: 10px 20px;
  border-radius: 7px;
}
.btn-hvr:hover {
  background-color: rgba(0, 0, 0, 0.85);
}
