#checkout-container {
  position: relative;
  text-align: center;
  width: max-content;
  margin: auto;
  color: white;
}
.titles {
  padding: 12px 30px;
}
.labels {
  text-align: left;
  margin-left: 80px;
}

/* Product(s) Information Box */
#products-info {
  position: absolute;
  background-color: var(--nav-buttons);
  color: white;
  top: 0px;
  right: -300px;
  padding: 12px;
  border-radius: 7px;
}

/* Shipping Information Box */
#shipping-box {
  background-color: var(--nav-buttons);
  border-radius: 7px;
}

/* Payment Information Box */
#payment-box {
  background-color: var(--nav-buttons);
  margin-top: 10px;
  border-radius: 7px;
}

/* Checkout Buttons */
.checkout-buttons {
  outline: none;
  cursor: pointer;
  background-color: #202020;
  color: white;
  font-size: 16px;
  padding: 5px 10px;
  margin-top: 6px;
  border-radius: 7px;
}

/* Hiding Shipping/Payment Boxes */
.form {
  overflow: hidden;
  transition: all 0.7s;
}
#shipping-form {
  height: 410px;
}
#payment-form {
  height: 0px;
}
