#checkout-container {
  color: white;
  position: relative;
  margin: auto;
  width: max-content;
  text-align: center;
}
.titles {
  padding: 12px 30px;
}
.labels {
  text-align: left;
  margin-left: 80px;
}

/* Product(s) Information Box */
#products-info {
  background-color: var(--nav-buttons);
  position: absolute;
  top: 0px;
  right: -300px;
  padding: 12px;
  border-radius: 7px;
}

/* Shipping Information Box */
#shipping-box {
  background-color: var(--nav-buttons);
  border-radius: 7px;
}

/* Payment Information Box */
#payment-box {
  background-color: var(--nav-buttons);
  border-radius: 7px;
  margin-top: 10px;
}

/* Checkout Buttons */
.checkout-buttons {
  background-color: #202020;
  color: white;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 10px;
  margin-top: 6px;
  margin-bottom: 14px;
  border-radius: 7px;
}

/* Hiding Shipping/Payment Boxes */
#shipping-form {
  border-top: 2px solid #303030;
  padding-top: 10px;
}
#payment-form {
  display: none;
  border-top: 2px solid #303030;
  padding-top: 10px;
}
