/* Default Settings */
:root {
  --main-bg-color: black;
  --nav-buttons: #101010;
  --nav-buttons-hover: #202020;
  --register-login-box: #101010;
  --register-login-button: #303030;
  --box-shadow-color: black;
  --bg-color: white;
  --text-color: white;
}
* {
  font-family: cursive;
  margin: 0px;
  padding: 0px;
}
body {
  background-color: var(--bg-color);
}
a {
  color: var(--text-color);
  text-decoration: none;
}
input[type="text"] {
  padding: 4px 8px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type="email"] {
  padding: 4px 8px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type="password"] {
  padding: 4px 8px;
  margin: 8px 0;
  box-sizing: border-box;
}

/* Main Title Div */
#main-content-div {
  text-align: center;
  background-color: var(--main-bg-color);
}
#main-title-div {
  display: inline-block;
  width: 50vw;
  padding: 6px;
}
#main-title {
  display: inline;
  color: var(--text-color);
  font-size: 50px;
}
/* -------Login/Logout--------- */
#login-div {
  display: inline-block;
  width: 45vw;
}
/* Buttons */
#logout {
  color: var(--text-color);
}
#logout:hover {
  text-decoration: underline;
}
#login {
  color: var(--text-color);
}
#login:hover {
  text-decoration: underline;
}
/* Navigation Bar */
#nav-div {
  text-align: center;
  background-color: var(--nav-buttons);
}
.nav-buttons {
  display: inline-block;
  background-color: var(--nav-buttons);
  font-size: 22px;
  padding: 5px 10px;
  margin: 0px;
  border: 0px;
  border-radius: 2px;
}
.nav-buttons a {
  color: var(--text-color);
  font-size: 22px;
  padding: 16px;
}
.nav-buttons:hover {
  background-color: var(--nav-buttons-hover);
}

#line-div {
  height: 4px;
  background-image: linear-gradient(to left, #353535, black);
}
#empty-block {
  height: 40px;
}

/* Display Amount of Items in Shopping Cart */
/* Cart */
#cart-icon-container {
  display: inline-block;
}
#amount-of-items {
  font-family: "Arial Black", Gadget, sans-serif;
  color: black;
  font-size: 12px;
  font-weight: bold;
  width: 20px;
  transform: translate(28px, 21px);
  opacity: 0.8;
}
#shopping-cart {
  margin-left: 20px;
}
