#product-title {
  text-align: center;
  font-size: 40px;
}
#product-container {
  display: flex;
  justify-content: center;
}
/* Info Container */
#product-info {
  display: inline-block;
  /* background-color: red; */
}
/* Product Image */
#image-div {
  display: inline-block;
  vertical-align: top;
  margin: 20px;
}
#image-div img {
  width: 400px;
}
/* Product Description */
#description-div {
  display: inline-block;
  width: 400px;
  margin: 20px;
}
/* Add to Cart Form/Button/Message */
#add-to-cart-form {
  text-align: center;
}
#add-to-cart {
  background-color: var(--nav-buttons);
  color: var(--text-color);
  border: 0px;
  border-radius: 2px;
  padding: 4px;
  cursor: pointer;
}
#added-to-cart-message {
  text-align: center;
}
/* Padding/Margin inside of Number Textbox */
input[type="number"] {
  box-sizing: border-box;
  padding: 4px 8px;
  padding-right: 0px;
  width: 44px;
}
/* Keeping Arrows Visible for Number input */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}
