/* Shop Navigation Bar */
#shop-nav {
  text-align: right;
  background-color: var(--nav-buttons);
  color: white;
  transform: translateY(-40px);
  width: 60vw;
  border-bottom-right-radius: 6px;
  padding-right: 20px;
}
.shop-nav-buttons {
  display: inline-block;
  padding-top: 4px;
  padding-bottom: 11px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 18px;
  transform: translateY(2px);
}
.shop-nav-buttons:hover {
  text-decoration: underline;
}
.clear-background {
  background-color: var(--bg-color);
  color: black;
}
#product-search-box {
  width: 160px;
  margin-left: 10px;
}
/* Search Icon */
#product-search-icon {
  cursor: pointer;
  outline: none;
  background-color: rgb(0, 0, 0, 0);
  color: white;
  font-size: 16px;
  border: 0px;
  padding: 6px;
}

/* Products */
#results-for-container {
  display: flex;
  justify-content: center;
}
#shopping-for {
  display: inline;
  text-align: center;
  font-family: "Arial Black", Gadget, sans-serif;
  color: black;
  border-bottom: 4px solid rgb(0, 0, 0, 0.8);
  width: fit-content;
}
#search-category {
  font-family: "Arial Black", Gadget, sans-serif;
}
#products-container {
  display: flex;
  justify-content: center;
}
#products-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 6px;
  max-width: 1250px;
  padding: 20px;
}
.product-margin {
  margin: 20px;
}
.products {
  display: inline-block;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 12px;
  width: 270px;
  border-radius: 2px;
}
.product-image {
  width: 250px;
  height: 167px;
  object-fit: cover;
  padding-right: 10px;
  padding-left: 10px;
}
.product-category {
  display: none;
}
#no-results {
  display: none;
  color: black;
}
.no-results {
  display: inline-block;
  font-size: 32px;
}

/* Product Reviews */
.checked {
  color: orange;
}
