{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="/static/css/cart.css">
{% endblock %}
{% block content %}
<h2 id="title">Shopping Cart</h2>

<!-- Shopping Cart Container -->
<div id="cart-box">
    <div class="cart-row">
        <div style="flex:1"></div>
        <div style="flex:1"><strong>Name</strong></div>
        <div style="flex:1"><strong>Price/Each</strong></div>
        <div style="flex:1"><strong>Quantity</strong></div>
        <div style="flex:1"><strong>Total</strong></div>
    </div>

<!-- Display Each Product -->
    {% for item in items %}
    <div class="cart-row">
        <div style="flex:1"><img class="product-image" src="/static/images/products/{{item.product.image}}">
            <form action="" method="POST">
                {% csrf_token %}
                <button class="remove-btn" name="remove-item" value="{{ item.product.id }}">Remove</button>
            </form>
        </div>
        <div style="flex:1">{{item.product.name}}</div>
        <div style="flex:1">${{item.product.price|floatformat:2}}</div>
        <div style="flex:1">
            <!-- Display/Change Quantity -->
            <div>
                <!-- Add 1 -->
                <form action="{% url 'accounts:add' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="chg-qty-btn" name="product-qty" value="{{ item.id }}">
                        <img class="chg-quantity" src="/static/images/icons/arrowup.png">
                    </button>
                </form>
                <p>{{item.quantity}}</p>
                <!-- Remove 1 -->
                <form action="{% url 'accounts:remove' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="chg-qty-btn" name="product-qty" value="{{ item.id }}">
                        <img class="chg-quantity" src="/static/images/icons/arrowdown.png">
                    </button>
                </form>
                <!-- Remove Products -->
            </div>
        </div>
        <div style="flex:1">${{item.get_total|floatformat:2}}</div>
    </div>
    {% endfor %}
</div>

<!-- Cart Total Info -->
<div id="cart-totals">
    <span>Total Items:<strong> {{order.get_cart_items}}</strong></span>
    <span>Total Price:<strong> ${{order.get_cart_total|floatformat:2}}</strong></span>
    <a href="{% url 'accounts:checkout' %}" id="checkout-btn">Checkout</a>
</div>

{% endblock content %}