{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="/static/css/checkout.css">
{% endblock %}
{% block content %}
<div id="checkout-container">
    <!-- Shipping Information Form -->
    <div id="shipping-box">
        <h1 class="titles">Shipping Information</h1>
        <div id="shipping-form" class="form">
            <div>
                <div class="labels">{{ shipping_form.name.label }}:</div>
                <div>{{ shipping_form.name }}</div>
            </div>
            <div>
                <div class="labels">{{ shipping_form.city.label }}:</div>
                <div>{{ shipping_form.city }}</div>
            </div>
            <div>
                <div class="labels">{{ shipping_form.state.label }}:</div>
                <div>{{ shipping_form.state }}</div>
            </div>
            <div>
                <div class="labels">{{ shipping_form.zip_code.label }}:</div>
                <div>{{ shipping_form.zip_code }}</div>
            </div>
            <div>
                <div class="labels">{{ shipping_form.address.label }}:</div>
                <div>{{ shipping_form.address }}</div>
            </div>
            <div>
                <button class="checkout-buttons" data-action="continue">Continue</button>
            </div>
        </div>
    </div>
    <!-- Product(s) Information Box -->
    <div id="products-info">
        <h2>Total: <span>${{ cart.get_cart_total }}</span></h2>
    </div>
    <!-- Payment Information Form -->
    <div id="payment-box">
        <h1 class="titles">Payment Information</h1>
        <div id="payment-form" class="form">
            <div>
                <div class="labels">{{ payment_form.email.label }}:</div>
                <div>{{ payment_form.email }}</div>
            </div>
            <div>
                <div class="labels">{{ payment_form.phone.label }}:</div>
                <div>{{ payment_form.phone }}</div>
            </div>
            <div>
                <div class="labels">{{ payment_form.name_on_card.label }}:</div>
                <div>{{ payment_form.name_on_card }}</div>
            </div>
            <div>
                <div class="labels">{{ payment_form.card_number.label }}:</div>
                <div>{{ payment_form.card_number }}</div>
            </div>
            <div>
                <div class="labels">{{ payment_form.exp.label }}:</div>
                <div>{{ payment_form.exp }}</div>
            </div>
            <div>
                <div class="labels">{{ payment_form.cvc.label }}:</div>
                <div>{{ payment_form.cvc }}</div>
            </div>
            <div>
                <button class="checkout-buttons" data-action="back">Back</button>
                <a href="{% url 'accounts:order' %}"><button class="checkout-buttons">Place Order</button></a>
            </div>
        </div>
    </div>
</div>

<script src="/static/javascript/checkout.js"></script>
{% endblock %}