{% extends "base.html" %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static '/css/games.css' %}">
{% endblock %}

{% block content %}
<div id="games-container">
    <div id="games-main-div">
        <h1 id="games-title">Games Created Using HTML/CSS/Javascript</h1>
        <div id="games-list">

            <div id="tetris-div">
                <div>
                    <span id="tetris-picture"><img src="{% static '/images/tetris.png' %}" alt=""></span>
                </div>
                <div>
                    <button class="game-select-button" id="tetris-button"><a href="">Play Tetris!</a></button>
                </div>
            </div>




            <div id="snake-div">
                <div>
                    <span id="snake-picture"><img src="{% static '/images/snake.png' %}" alt=""></span>
                </div>
                <div>
                    <button class="game-select-button" id="snake-button"><a href="">Play Snake!</a></button>
                </div>
            </div>

            
        </div>
    </div>
</div>
{% endblock %}