{% extends 'base.html' %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static '/css/index.css' %}">
{% endblock %}

{% block content %}
<div id="index-container">
    <div id="index-main-div">
        <h1 id="index-title">Resume or Something</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum sunt neque necessitatibus architecto. Laborum molestias nostrum veritatis explicabo repellendus. Neque iste ipsam, odio eius aliquam dicta dolorem enim? Rem magnam tempora dolores nesciunt ullam repellat ea mollitia placeat eum, facilis neque, maxime veniam, nisi odio molestias corrupti nobis repudiandae vero? Voluptatem qui ex nam sit soluta autem, non nihil hic illo laboriosam repellat in, labore consequuntur, minima quisquam maxime nemo quos quibusdam eius quaerat? Illum, molestiae. A dolor earum cumque tempore ex quos labore quas voluptas iste molestias! Voluptatem repellat repudiandae minima quas eum commodi quam magni atque quod mollitia!</p>
    </div>
</div>
{% endblock %}
