{% extends "base.html" %}
{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %}">
{% endblock %}

{% block content %}
<form method="POST" action="" id="login-form-box">
    {% csrf_token %}
    <div id="login-box">
        <h1 id="login-title">User Login</h1>
        <input type="text" name="username" placeholder="Username..">
        <input type="password" name="password" placeholder="Password..">
        <button type="submit" id="login-button">Sign In</button>
        <p>Don't have an Account? <button id="register-here-button"><a href="{% url 'accounts:register' %}"> Register Here</a></button></p>
    </div>
</form>
{% for message in messages %}
<h1>{{message}}</h1>
{% endfor %}
{% endblock %}